# https://github.com/pytorch/pytorch/wiki/PyTorch-Versions
torch==1.9.1
torchvision==0.10.1
torchtext==0.10.1
torchaudio==0.9.1

#supporting pkgs
click==8.0
pytorch-lightning==1.2.3
onnx==1.13.1
onnxruntime==1.13.1
onnxruntime-gpu==1.13.1
spacy~=3.5.0
diskcache==5.2.1
SoMaJo==2.1.2
lxml==4.9.2
scikit-learn==1.2.2
